body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-image: url(../vendor/7459.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.navbar{
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
    background: rgba(0, 0, 0, .6) !important;
    padding-left: 0rem !important;
}
#frm{
    border: 2px solid #03ffa3d2;
    border-radius: 20px;
    background-color: #00054a6e;
    box-shadow: 0px 0px 50px rgba(161, 153, 255, 0.753);
}
.card{
    color: black !important;
    background: linear-gradient(#e66465, #9198e5);   
    opacity: 0.8;
    height: 25vh;
    max-height: 25vh;
    margin-bottom: 8px;
    border-radius: 30px 15px;
    box-shadow: 0 4px 8px 0 rgba(127, 125, 197, 0.4), 0 6px 20px 0 rgba(133, 137, 214, 0.4);
}
.card:hover{
    background: linear-gradient(#ce4949, #5c65c9);   
    opacity: 1;
}
#createEventBtn{
    height: 100%;
    width: 100%;
}

.cardButtons{
    margin-top: 31%;
    margin-left: 45%;
}

@media (max-width: 768px) {
    #createEventBtn{
        height: initial;
    }
    .cardButtons{
        margin-top: 21%;
        margin-left: 47%;
    }
}

/* .btnEdit{
    background-color: rgba(191, 97, 220, 0.8);
}
.btnDelete{
    background-color: rgba(244, 248, 7, 0.8); 
} */

.modal .modal-dialog .modal-content{
    background-color: #ffffff; 
    color: black;
    animation-name: modalAnime;
    animation-duration: 500ms;
}

@keyframes modalAnime{
    0%   {left:100%; top:0%;}
    100% {left:0%; top:0%;}
}

#canvasDiv>canvas{
    border:1px solid #000000;
}

#eventContainerHeading{
    font-family: "Times New Roman", Times, serif;
}

#EventTitle{
    font-weight: bold;
    font-size:xx-large;
}